/* Gryffindor.module.css */
.character-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.character-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 30%; /* Tres tarjetas por fila */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
}

.character-card h2 {
    color: #8B0000;
    margin-top: 10px;
}

.character-card p {
    color: #1A242F;
    margin: 5px 0;
}

.character-card:hover {
    transform: scale(1.05);
}

.character-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

@media (max-width: 767px) {
    .character-card {
        width: 90%;
        margin: 10px auto;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .character-card {
        width: 45%;
        margin: 10px;
    }
}

@media (min-width: 1024px) {
    .character-card {
        width: 30%;
        margin: 10px;
    }
}